<div class="input-field{{classNames}}">
    <input 
        type="{{inputType}}" 
        name="{{inputName}}" 
        placeholder="{{inputPlaceholder}}" 
        class="input-field__input"
    >
    <label 
        for="{{inputName}}" 
        class="input-field__placeholder"
    >
        {{inputPlaceholder}}
    </label>
</div>