<div class="input-settings-field{{classNames}}">
    <input 
        type="{{inputType}}" 
        name="{{inputName}}" 
        placeholder="{{inputPlaceholder}}" 
        class="input-settings-field__input"
        value="test-value"
        {{#if disabled}}
            disabled=""
        {{/if}}
    >
    <label 
        for="{{inputName}}" 
        class="input-settings-field__placeholder"
    >
        {{inputPlaceholder}}
    </label>
</div>